* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
}

.container{
width: 100%;
height: 100%;


}

.header-content {
    display: flex;

    width: 100%;

}

.searcher-bar{
    display: inline-block;

}

.button-container{
    display: inline-block;

}

.pin-container {
    display: flex;
  
    

}
